// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Datepicker
@import './bootstrap-datepicker.scss';

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #262bd3;

    &:hover {
        text-decoration: none;
    }
}

.comment-box {
    border: 1px solid #6c757d;;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;

    strong, span {
        display: block;
    }

    span {
        color: #6c757d;
        font-size: 0.7rem;
    }
}

.list-group-item {
    &:hover {
        background-color: #c7d8e6;
    }
}

.align-right {
    float: right;
}

.table {
    table-layout: fixed;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 400px) {
    h3,h4{
        font-size: 1rem;
    }
    //h4{
    //    font-size: 0.6rem;
    //}
}

@media (min-width: 401px) and (max-width: 570px) {
    h3,h4{
        font-size: 1.1rem;
    }
    //h4{
    //    font-size: 0.6rem;
    //}
}
