// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Datepicker
@import './bootstrap-datepicker.scss';

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #262bd3;

    &:hover {
        text-decoration: none;
    }
}

.comment-box {
    border: 1px solid #6c757d;;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;

    strong, span {
        display: block;
    }

    span {
        color: #6c757d;
        font-size: 0.7rem;
    }
}

.list-group-item {
    &:hover {
        background-color: #c7d8e6;
    }
}

.align-right {
    float: right;
}

.table {
    table-layout: fixed;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 930px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 400px) {
    h3, h4 {
        font-size: 1rem;
    }
}

@media (min-width: 401px) and (max-width: 570px) {
    h3, h4 {
        font-size: 1.1rem;
    }
}

.plates {
    display: flex;
    flex-wrap: wrap;

    .plate {
        width: 200px;
        height: 170px;
        border-radius: 5px;
        background-color: #B1CFF4;
        padding: 20px;
        margin: 20px;
        text-decoration: inherit;
        color: rgba(0, 0, 0, .8);
        position: relative;

        &:hover {
            background-color: #83b1f1;
            box-shadow: 10px 11px 13px 1px rgba(0, 0, 0, 0.43);
            color: #ffffff;
        }

        .orders-for-approve{
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 60px;
            line-height: 60px;
        }
    }
}
